@font-face {
  font-family: steelfish;
  src: url(../Assets/steelfish/steelfish.ttf);
}
@font-face {
  font-family: bebasNeue;
  src: url(../Assets/bebas_neue/BebasNeue-Regular.ttf);
}
html {
  font-size: 16px;
}
body {

  font-family: bebasNeue;
  letter-spacing: 0.2rem;
}
.section1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  overflow: hidden;
  background-image: url(../Assets/Largeblack3.JPG);
  background-attachment: fixed;
}

body, section, nav{
  overflow-x: hidden;
  width: 100vw;
  margin: 0;
  padding: 0;
}
ul {
    list-style-type: none;
}

h2, h3 {
  font-family: steelfish;
}

.topbar {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  height: 8rem;
  box-sizing: border-box;
    border-bottom: 0.10rem solid #252769;
}
.topbar > img {
  position: relative;
  width: 12rem;
  top: 1rem;
  padding: 1rem 0px;
  left: calc(50vw - 6rem);
}
.blueBand {
  background-color: #004f9c ;
  color: white;
  position: absolute;



  border-top: .8rem solid #252769;
  border-bottom: .8rem solid #252769;
}


.colourPage  .footer {
  top: calc(100vh + 10rem) ;
}
.customiser {
  position: absolute;
  background-image:  linear-gradient(to bottom right, #f2f2f2, #b3b3b3);
  top: 8rem;
  width: 100vw;
  height: calc(100vh - 8rem);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1.5fr;
  grid-template-rows: 1fr 1fr 1fr;

}
.customiser .bigBox {
  grid-column: 1 / 5;
  grid-row: 1 / span 3;


  box-sizing: border-box;
  border-right: 10px solid #252769;

  text-align: center;

    position: relative;
}
.customDoor {
  position: relative;
  top: calc(50% - 250px );
  left: calc(50% - 330px);
}
.customDoor > img {
  position: relative;
  top: 0;
  left: 0;
}
.customiser .customDoor, .customDoor > img {

  width:  660px;
  border-radius: 1rem;
  border: 2px solid black;


}
.customiser .customDoor {
    transition: 0.5s all;
    /* margin-top: 2rem; */
}
.colourName {
  font-size: 2rem;

  position: relative;
  top: 7rem;
}
.customiser .colourBox {
  grid-column: 5 / 6;
  grid-row: 1 / 4;



  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  display: flex;
  flex-wrap: flex;

  box-sizing: border-box;
  padding: 1rem;

  overflow-y: scroll;
}
.colourBox .colour {

  width: calc(50% - 1rem);
  height: auto;
  margin: 0.5rem auto;
  position: relative;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px grey;
  transition: 0.5s all;

  box-sizing: border-box;

}
.colour:hover {
  cursor: pointer;
}
.colour.selected {
  box-shadow: 0 0 2px 2px #252769;
  border: 1px solid #252769;
}
.colour .content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  text-align: center;
}
.content p {
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 1rem;

  top: calc(50% - 1.2rem);
  color: white;
  text-shadow: 0 0 8px black;

}
.colourBox .colour::before {
  content: "";
  display: block;
  padding-top: 100%;
}
@media only screen and (orientation: portrait) {
  .customiser {
    /* 6 * 3 */
    grid-auto-rows: 1fr 1fr 1fr 1fr;
  }
  .customiser .bigBox {
    grid-column: 1 / 6;
    grid-row: 1 / span 3;
    border-right: none;
  }
  .customiser .colourBox {
    grid-column: 1 / 6;
    grid-row: 4 / 5;
    display: inline;
    overflow: auto;
    white-space: nowrap;
    border-top: 10px solid #252769;
    padding-left: 0.5rem;
    overflow-y: hidden;
  }
  .colourBox .colour {
    width: 20vw;
    display: inline-block;
    margin: auto 0.5rem;
  }
  .customiser .customDoor {
    left: 5vw;
  }
  .customiser .customDoor, .customDoor img {
    width: 90vw;
  }
  .customDoor {
    top: 6rem;
  }
  .colourName {
    top: 5rem;
  }
}
@media only screen and (orientation: landscape) {
  .colourName {
    top: calc(50% - 13rem);
}
@media only screen and (max-width: 1200px) and (orientation: landscape){
  html {
    font-size: 20px;
  }
}
@media only screen and (max-width: 1100px) {

  .customiser .customDoor, .customDoor > img {
    margin: 0;
  }

  .colourBox .colour {
    width: 20vw;

    display: inline-block;
  }
  .colourBox .colour::before {
    content: "";
    display: block;
    padding-left: 100%;
  }
}
@media only screen and (max-width: 1100px) and (orientation: landscape) {
  .customiser .customDoor, .customDoor > img {
    width: 530px;
    border-radius: 1rem;
    border: 2px solid black;
  }

  .customDoor {
    position: relative;
    top: calc(50% - 195px );
    left: calc(50% - 280px);
  }
  .colourName {
    top: calc(50% - 12rem);
  }

}
@media only screen and (max-width: 1000px) and (orientation: landscape){

  .customiser .customDoor, .customDoor > img {
    width: 560px;
  }
  .customDoor {
      left: calc(50% - 280px);
      top: calc(50% - 200px);
  }
  /* .colourName {
    top: 7rem;
  } */

}
@media only screen and (max-width: 850px) and (orientation: landscape) {
  .section1 {
    height: calc(8rem + 100vh);
  }
  .customiser {
    height: 100vh;
  }
  .customiser .customDoor, .customDoor > img {
    width: 460px;
  }
  .customDoor {
      left: calc(50% - 230px);
      top: calc(50% - 200px);
  }
  /* .colourName {
    top: 2rem;
  } */
}
@media only screen and (max-width: 600px) {
  .customiser .customDoor, .customDoor > img {
    width: 340px;
  }
  .customDoor {
      left: calc(50% - 170px);
      top: calc(50% - 142px);
  }
  .colourName {
    top: calc(50% - 8rem);
  }
}
@media only screen and (max-width: 400px) {
  .customDoor {
    top: 3rem;
  }
  .content p {
    font-size: 0.5rem;
  }
  .colourName {
    top: 4rem;
  }
}
@media only screen and (max-width: 1100px) and (-webkit-min-device-pixel-ratio: 2) and (orientation:portrait) {


  .colourBox .colour {
    width: 30vw;
  }
  .colour p {
    font-size: 3rem;
    position: relative;
    top: 3rem;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .customiser .customDoor, .customDoor > img {
    width: 90vw;
    max-width: 90vw;
    left: 0;
  }
  .customiser .customDoor {
    left: 5vw;
    top: 20rem;
  }

}
@media only screen and (max-width: 1100px) and (-webkit-min-device-pixel-ratio: 2) and (orientation:landscape) {
  .customiser {
    height: 100vh;
  }
